body {
  padding: 20px;
  font-family: monospace;
  font-size: 16px;
  max-width: 850px;
  margin: auto;
}

nav {
  border: 0 solid rgb(255, 174, 0);
  border-width: 0 0 5px 0;
  margin: 4px;
  padding: 12px;
  font-size: 1.4rem;
}

a {
  font-weight: bold;
  text-decoration: none;
}

nav > a {
  background-color: #AEEDEB;
  padding: 6px 20px;
}

.code {
  background-color: rgb(229, 229, 229);
  padding: 10px;
  overflow: scroll;
}

.twitter_feed {
  display: inline-block;
}

.text_center {
  text-align: center;
}
