<h1>FAQ</h1>

<p>
  <b>What Ember versions are supported?</b>
  <ul>
    <li>1.13.X - yes</li>
    <li>2.0.0 - no (WIP)</li>
  </ul>
</p>

<p>
  <b>What do I do with all the Content Security Policy (CSP) warnings?</b>
  <br>
  You can copy the CSPs from here:
  <a href="https://github.com/aethermx/ember-cli-twitter-feed/blob/master/tests/dummy/config/environment.js#L46" target="_blank">
    config/environment.js</a>
</p>
