<p>
  In your template:
</p>

<pre class="code">
\{{#twitter-feed}}
  &lt;a class="twitter-timeline"  href="https://twitter.com/hashtag/emberjs" data-widget-id="639895199179767808">#emberjs Tweets&lt;/a>
\{{/twitter-feed}}

</pre>

<p>
  Result:
</p>

<div class="text_center">
  {{#twitter-feed}}
    <a class="twitter-timeline" href="https://twitter.com/hashtag/emberjs" data-widget-id="639895199179767808">#emberjs Tweets</a>
  {{/twitter-feed}}
</div>
